.tabela_cbs table {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 0.3rem;
    width: 100%;
    border-collapse: collapse;
}

.tabela_cbs_container{
    overflow: auto;
}

.tabela_cbs_wrapper{
    max-width: 75rem;
    max-height: 45rem;
    display:block;
}

.tabela_cbs td {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 0.3rem;
    font-size: small;
}

.tabela_cbs th {
    background-color: #ff8ff2;
    border-width: 0.1rem;
    font-size: 0.9rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 0.3rem;
}