.tabela_cbs_container {
    overflow: auto;
}

.tabela_cbs_wrapper {
    max-width: 75rem;
    max-height: 45rem;
    display: block;
}

.tabela_cbs td.tdComparacao {
    width: 15rem;
}

@media (max-width: 1280px) {
    .tabela_cbs_wrapper {
        max-width: 95vw;
        max-height: 45rem;
        display: block;
    }
}