.tabelaComunicacao table {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 0.3rem;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
}

.tabelaComunicacao_container{
    overflow: auto;
}

.tabelaComunicacao_wrapper{
    max-width: 75rem;
    max-height: 45rem;
    display:block;
}

.tabelaComunicacao td, .tabelaComunicacao th {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 0.3rem;
    font-size: small;
    word-wrap: break-word;
}

.tabelaComunicacao td input, .tabelaComunicacao td select {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 0.4rem;
    padding: 0.2rem;
    transition: 0.2s;
    outline: none;
}

.tabelaComunicacao td input:hover, .tabelaComunicacao td select:hover, .tabelaComunicacao button:hover {
    background-color: rgb(231, 231, 231);
}

.tabelaComunicacao td input, .tabelaComunicacao td select {
    width: 10rem;
    font-size: small;
}

.tabelaComunicacao td:nth-child(4) select,.tabelaComunicacao td:nth-child(5) select{
    width: 5rem;
}

.tabelaComunicacao td input[type='date'] {
    width: 7rem;
}

.tabelaComunicacao th {
    background-color: #ff8ff2;
    border-width: 0.1rem;
    font-size: 0.9rem;
    border-style: solid;
    border-color: rgb(105, 105, 105);
    padding: 0.3rem;
}

.tabelaComunicacao td {
    width: 6rem;
    text-align: left;
}

.tabelaComunicacao td:nth-child(4), .tabelaComunicacao td:nth-child(5), .tabelaComunicacao td:nth-child(6), .tabelaComunicacao td:nth-child(11), .tabelaComunicacao td:nth-child(13), .tabelaComunicacao td:nth-child(14) {
    text-align: center;
}

.tabelaComunicacao button{
    background-color: transparent;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    height: 1.6rem;
    width: 4.7rem;
    cursor: pointer;
    transition: 0.2s;
}

.botao_bonito {
    background-color: #fc79ec;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    width: 12rem;
    transition: 0.1s;
    height: 1.7rem;
    margin: 0.5rem;
}

.botao_bonito:hover {
    background-color: #a84ee0;
    font-size: 0.8rem;
    font-weight: bold;
    width: 10rem;
    height: 1.7rem;
}