.tabela_financas_container{
    overflow: auto;
    scrollbar-gutter: stable; /* mantém espaço fixo da scrollbar */
}

.tabela_financas_wrapper{
    max-height: 45rem;
    max-width: 95vw;
    display: inline-block;
}

.tabela_financas td input:hover, .tabela_financas td select:hover, .tabela_financas td:not(:global(.botoes_acoes)) button:hover{
    background-color: rgb(231, 231, 231);
}

#tdDescricao{
    width: 10rem;
}

#tdData, #tdData input, 
#tdOrigem, #tdOrigem input, 
#tdDestino, #tdDestino input,
#tdArea select{
    width: 8rem;
}

#tdValor, #tdValor input{
    width: 6rem;
}