.containerPai {
    border-color: rgb(133, 133, 133);
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    margin-bottom: 20px;
}

.container {
    border-style: solid;
    border-color: rgb(172, 172, 172);
    border-radius: 20px;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    text-align: start;
}

.botoesAcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botoesAcoes button {
    border-color: transparent;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    align-items: center;
    cursor: pointer;
    margin-top: -6px;
    margin-bottom: -10px;
    color: rgb(0, 0, 0);
    margin-right: 5px;
    margin: 0px;
}

.textWrapper {
    max-width: 100%;
    word-break: break-all;
    overflow-wrap: break-word;
}

.tabelaRaci {
    font-size: 15px;
}

.tabelaRaci th{
    background-color: #ff8ff2;
    border-width: 0.1rem;
    border-style: solid;
    font-size: 0.9rem;
    border-color: rgb(167, 167, 167);
    padding: 0.3rem;
}

.tabelaRaci tr{
    font-size: 14px;
    border-style: solid;
    border-width: 0.1rem;
    padding: 1rem;
}

.tabelaRaci td{
    border-width: 0.1rem;
    border-style: solid;
    width: 5rem;
    border-color: rgb(167, 167, 167);
    padding: 0.3rem;
    font-size: small;
}

.tabelaRaci td:last-child{
    width: 5rem;
} 

.tabelaRaci tr:not(:nth-child(1)) td:not(:nth-child(1)):not(:last-child),
.tabelaRaci tr:nth-child(1) td:not(:nth-child(1)):not(:nth-child(2)):not(:last-child) {
    width: 1.5rem;
}

.tabelaRaci td input, .tabelaRaci td select {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    padding: 0.2rem;
    transition: 0.2s;
    outline: none;
}

.areaTc{
    text-align: center;
    padding: 1rem;
    width: auto; 
    font-weight: bold;
    border-style: solid;
    border-width: 0.1rem;
}

.itemTc {
    text-align: start;
    padding: 0.4rem;
    border-style: solid;
    border-width: 0.1rem;
    width: auto; 
    overflow: hidden;
    white-space: nowrap; 
}

.tabelaRaci button{
    background-color: transparent;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    height: 1.6rem;
    cursor: pointer;
    transition: 0.2s;
}




