.containerPai {
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    margin-bottom: 20px;
}

.container {
    width: 25rem;
    word-break: normal;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    text-align: start;
}

.container div {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.container input {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    padding: 0.2rem;
    transition: 0.2s;
    outline: none;
    width: 10rem;
    height: 1rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.container div input:hover, .container div select:hover, .container:first-child div button:hover {
    background-color: rgb(231, 231, 231);
}

.container div:nth-child(1) input{
    width: 83%;
}

.container div:nth-child(2) input{
    width: 76.5%;
}

.container div:nth-child(3) input{
    width: 74.9%;
}

.container div:nth-child(4){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container:first-child div button{
    background-color: transparent;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    height: 1.6rem;
    cursor: pointer;
    transition: 0.2s;
}

.botoesAcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botoesAcoes button{
    border-color: transparent;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    align-items: center;
    cursor: pointer;
    margin-top: -6px;
    margin-bottom: -10px;
    color: rgb(0, 0, 0);
    margin-right: 5px;
    margin: 0px;
    transition: 0.2s;
}

.botoesAcoes button:hover{
    font-size: 0.8rem;
}

.textWrapper {
    max-width: 100%;
    word-break: break-all;
    overflow-wrap: break-word;
}

.tabelaRaci_container{
    overflow: auto;
}

.tabelaRaci_wrapper{
    max-width: 1000px;
    display: inline-block;
}

.tabelaRaci th, .tabelaFuncoes th, .tabelaHabilidade th{
    background-color: #ff8ff2;
    border-width: 0.1rem;
    border-style: solid;
    font-size: 0.9rem;
    border-color: rgb(0, 0, 0);
    padding: 0.3rem;
}

.tabelaRaci tr, .tabelaFuncoes tr, .tabelaHabilidade th {
    border-style: solid;
    border-width: 0.1rem;
    padding: 1rem;
}

.tabelaRaci td, .tabelaFuncoes td, .tabelaHabilidade td {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 0.3rem;
    font-size: small;
}

.tabelaRaci tr:nth-child(1) td:nth-child(1) select{
    width: 8rem;
}

.tabelaRaci tr:not(:nth-child(1)) td:not(:nth-child(1)),
.tabelaRaci tr:nth-child(1) td:not(:nth-child(1)):not(:nth-child(2)) {
    width: 1.5rem;
}

.tabelaRaci td input:hover, .tabelaRaci td select:hover, .tabelaRaci td:not(:global(.botoes_acoes)) button:hover,
.tabelaFuncoes td select:hover, .tabelaFuncoes td textarea:hover, .tabelaFuncoes td:not(:global(.botoes_acoes)) button:hover,
.tabelaHabilidade td select:hover, .tabelaHabilidade td textarea:hover, .tabelaHabilidade td:not(:global(.botoes_acoes)) button:hover{
    background-color: rgb(231, 231, 231);
}

.tabelaRaci td input, .tabelaRaci td select,
.tabelaFuncoes td select, .tabelaFuncoes td textarea,
.tabelaHabilidade td select, .tabelaHabilidade td textarea {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    padding: 0.2rem;
    transition: 0.2s;
    outline: none;
    background-color: white;
}

.tabelaRaci td input, .tabelaRaci td select{
    width: 4rem;
    font-size: 0.75rem;
}

.tabelaFuncoes td:nth-child(2), .tabelaFuncoes td:nth-child(3), .tabelaFuncoes td:nth-child(6){
    font-size: 0.75rem;
    text-align: left;
}

.tabelaFuncoes td textarea{
    height: 4rem;
    font-size: 0.8rem;
}

.tabelaFuncoes td select{
    height: 4.6rem;
    font-size: 0.8rem;
}

.tabelaFuncoes td:first-child textarea{
    width: 8rem;
}

.tabelaFuncoes td:nth-child(5) select{
    width: 12rem;
}

.tabelaHabilidade td textarea{
    font-size: 0.85rem;
    height: 2.5rem;
    width: 10rem;
}

.tabelaHabilidade td select{
    width: 10rem;
    height: 3rem;
}

#tdNivel textarea{
    width: 5rem;
}

#raciTdArea select{
    width: 16rem;
}

#raciTdItem select{
    width: 16rem;
}


.tabelaRaci button, .tabelaFuncoes button, .tabelaHabilidade button {
    background-color: transparent;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    height: 1.6rem;
    cursor: pointer;
    padding: 0.1rem;
    width: 4.2rem;
    transition: 0.2s;
}

.tabelaFuncoes td:not(:global(.botoes_acoes)) button{
    height: 4.5rem;
}

.tabelaHabilidade td:not(:global(.botoes_acoes)) button{
    height: 3rem;
    width: 5rem;
}


.areaTc {
    text-align: center;
    padding: 1rem;
    width: auto;
    font-weight: bold;
    border-style: solid;
    border-width: 0.1rem;
}

.itemTc {
    text-align: start;
    padding: 0.4rem;
    border-style: solid;
    border-width: 0.1rem;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}