.container{
    overflow: auto;
}

.wrapper{
    max-width: 75rem;
    max-height: 45rem;
    display:block;
}

.tabela_mudancas table {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 0.3rem;
    width: 100%;
    border-collapse: collapse;
}

.tabela_mudancas td {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 0.3rem;
    font-size: small;
}

.tabela_mudancas th {
    background-color: #ff8ff2;
    border-width: 0.1rem;
    font-size: 0.9rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 0.3rem;
}

.tabela_mudancas td input, .tabela_mudancas td select, .tabela_mudancas td textarea {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    padding: 0.2rem;
    transition: 0.2s;
    outline: none;
    width: 9rem;
    font-size: small;
    background-color: white;
}

.tabela_mudancas td input:hover, 
.tabela_mudancas td select:hover,
.tabela_mudancas td textarea:hover, 
.tabela_mudancas td:not(:global(.botoes_acoes)) button:hover {
    background-color: rgb(231, 231, 231);
}

.tabela_mudancas td input, .tabela_mudancas td textarea{
    height: 3rem;
}

.tabela_mudancas td select, .tabela_mudancas td:not(:global(.botoes_acoes)) button{
    height: 3.5rem;
}

.tabela_mudancas button{
    background-color: transparent;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    height: 1.6rem;
    width: 4.7rem;
    cursor: pointer;
    transition: 0.2s;
}

.botao_bonito {
    background-color: #fc79ec;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    width: 12rem;
    transition: 0.1s;
    height: 1.7rem;
    margin: 0.5rem;
}

.botao_bonito:hover {
    background-color: #a84ee0;
    font-size: 0.8rem;
    font-weight: bold;
    width: 10rem;
    height: 1.7rem;
}