.nav {
  background-image: linear-gradient(90deg, rgba(144, 6, 227, 1) 0%, rgba(255, 0, 227, 1) 100%);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  position: relative;
  color: white;
}

.cabecario {
  background-image: linear-gradient(90deg, rgba(144, 6, 227, 1) 0%, rgba(255, 0, 227, 1) 100%);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
  color: white;
  border-radius: 20px;
}

.nav h2 {
  position: absolute;
  top: 0%;
  left: 3%;
}

.nav img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
}

.nav ul {
  position: absolute;
  top: 15%;
  right: 3%;
}

.nav li {
  display: inline;
  margin-right: 10px;
}

.nav h2 a:link,
.nav ul li a:link {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav h2 a:visited,
.nav ul li a:visited {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav ul li a:hover {
  color: #46205e;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1000;
}

.dropdown a:hover {
  transition: color 0.2s ease;
  color: #46205e;
  text-decoration: none;
  cursor: pointer;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #ff00e3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  font-size: small;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 2vw;
  z-index: 1001;
}

.menu {
  display: flex;
  gap: 10px;
}

@media (orientation: landscape) and (max-width: 1024px){
  .hamburger {
    display: block;
    top: 1vh;
    font-size: 2rem;
  }

  .menu {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(90deg, rgba(144, 6, 227, 1) 0%, rgba(255, 0, 227, 1) 100%);
    width: 100%;
    position: absolute;
    top: 5vh;
    left: 0;
    z-index: 1000;
    padding: 0;
    border-radius: 0 0 10px 10px;
  }

  .menu.open {
    top: 5vh;
    max-height: 500px;
    padding: 1rem 0;
  }


  .menu li {
    opacity: 0;
    margin-top: -10px;
    transition: opacity 0.3s ease, margin 0.3s ease;
  }

  .menu.open li {
    opacity: 1;
    margin-top: 0;
    margin: 0;
  }


  .dropdownContent {
    position: static;
    background-color: white;
    box-shadow: none;
    border-radius: 5px;
    margin-top: 0.5rem;
  }

  .dropdownContent a {
    color: black;
    padding: 10px;
    font-size: 0.9rem;
  }

  .nav h2 {
    font-size: 1.2rem;
    text-align: center;
    line-height: 4vh;
  }

  .nav img {
    visibility: hidden;
  }

  .nav{
    height: 8vh;
  }

  .nav ul{
    top: 8vh
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    top: 1vh;
    font-size: 2rem;
  }

  .menu {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(90deg, rgba(144, 6, 227, 1) 0%, rgba(255, 0, 227, 1) 100%);
    width: 100%;
    position: absolute;
    top: 5vh;
    left: 0;
    z-index: 1000;
    padding: 0;
    border-radius: 0 0 10px 10px;
  }

  .menu.open {
    top: 4vh;
    max-height: 500px;
    padding: 1rem 0;
  }


  .menu li {
    opacity: 0;
    margin-top: -10px;
    transition: opacity 0.3s ease, margin 0.3s ease;
  }

  .menu.open li {
    opacity: 1;
    margin-top: 0;
    margin: 0;
  }


  .dropdownContent {
    position: static;
    background-color: white;
    box-shadow: none;
    border-radius: 5px;
    margin-top: 0.5rem;
  }

  .dropdownContent a {
    color: black;
    padding: 10px;
    font-size: 0.9rem;
  }

  .nav h2 {
    font-size: 1.2rem;
    text-align: center;
    line-height: 4vh;
  }

  .nav img {
    visibility: hidden;
  }

  .nav{
    height: 5vh;
  }

  .nav ul{
    top: 4vh
  }
}

@media (orientation: landscape) and (max-width: 768px){
  .nav{
    height: 8vh;
  }

  .hamburger {
    top: 0vh;
    font-size: 2rem;
  }

  .nav h2 {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1rem;
  }

  .menu{
    top: 5vh;
  }

  .menu.open {
    top: 8vh;
    max-height: 500px;
    padding: 1rem 0;
  }

  .nav ul{
    top: 8vh
  }
}