.tabela_financas_container {
    overflow: auto;
}

.tabela_financas_wrapper {
    max-width: 75rem;
    max-height: 45rem;
    display: block;
}

.tabela_financas td.tdRecurso select {
    width: 12rem;
}

.tabela_financas td.tdValor input {
    width: 6rem;
}

.tabela_financas th:nth-child(6),
.tabela_financas td.tdCriticalDate select {
    width: 4rem;
}

.tabela_financas td:last-child:not(.botoes_acoes) button {
    width: 5rem;
}

.tabela_financas td input,
.tabela_financas td textarea,
.tabela_financas td:not(.tdRecurso) select,
.tabela_financas td:not(:global(.botoes_acoes)) button {
    height: 3.5rem;
}

.tabela_financas td textarea {
    width: 10rem;
}

@media (max-width: 1280px) {
    .tabela_financas_wrapper {
        max-width: 95vw;
        max-height: 45rem;
        display: block;
    }

    #tdRecurso select {
        width: 8rem;
    }

    .tabela_financas td input,
    .tabela_financas td textarea,
    .tabela_financas td:not(#tdRecurso) select,
    .tabela_financas td:not(:global(.botoes_acoes)) button {
        height: 3rem;
    }
}