.containerPai {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.containerPai .container {
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 10px;
  }

  .containerPai .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .containerPai .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
    transition: background-color 0.2s
  }

  .containerPai .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .containerPai .container input:checked ~ .checkmark:after {
    display: block;
  }

  .containerPai .container:hover input ~ .checkmark {
    background-color: #f006e3;
}

.containerPai .container input:checked ~ .checkmark {
    background-color: #f006e3;
}

.containerPai .container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}
