.tabela_financas_container {
    overflow: auto;
}

.tabela_financas_wrapper {
    max-width: 80rem;
    max-height: 45rem;
    display: block;
}

.tabela_financas th:nth-child(6) {
    width: 4rem;
}

.tabela_financas td:nth-child(7) select {
    width: 4rem;
}

.tabela_financas td:nth-child(5) select {
    max-width: 6rem;
}

.tabela_financas td:last-child {
    width: 2rem;
}

.tabela_financas button {
    width: 4.7rem;
    height: 1.2rem;
}

.camposMaiores td input {
    width: 15rem;
}

.camposMaiores td select:not(.campo_ehEssencial) {
    width: 10rem;
}

@media (max-width: 1280px) {
    .tabela_financas_wrapper {
        max-width: 95vw;
        max-height: 75vh;
        display: block;
    }
}