.report_container {
    overflow: auto;
}

.menu, .customize_report {
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.customize_report_wrapper{
    width: 2rem;
    height: 1rem;
    align-items: center;
}

.customize_report_wrapper input[type="color"]{
    width: 2rem;
    height: 1rem;
    /* opacity: 0; */
}



.hiddenInput {
  display: none;
}

.uploadLabel {
  background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    color: black;
    font-size: 0.9rem;
    cursor: pointer;
    width: 7rem;
    transition: 0.1s;
    height: 1.7rem;
    margin: 0.5rem; 
}

.uploadLabel:hover {
    background-color: var(--main-color);
    color: var(--main-text-color);
    font-size: 0.8rem;
    font-weight: bold;
    width: 7rem;
    height: 1.7rem;
}

.datePicker {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    background-color: transparent;
    border-radius: 0.4rem;
    padding: 0.2rem;
    transition: 0.2s;
    text-align: center;
    width: 10rem;
    outline: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.report {
    border-style: solid;
    border-radius: 2rem;
    padding: 1.5rem;
    width: 60rem;
}

.alphaLogo {
    width: 90%;
    text-align: center
}

.alphaLogo img{
    width: 200px;
    margin: -10px
}

.tableInformation,
.tableProgress,
.tableStatus,
.tableDetails,
.tableResources {
    border-color: black;
    border-style: solid;
    border-width: 0.1rem;
    border-collapse: collapse;
}

.tableInformation {
    width: 60%
}

.tableProgress,
.tableStatus,
.tableDetails,
.tableResources {
    width: 100%
}

.tableInformation th,
.tableProgress th,
.tableResources thead tr:first-child,
.tableStatus thead tr:first-child,
.tableDetails thead tr:first-child {
    background-color: var(--main-color);
    border-color: black;
    font-weight: bolder;
    border-style: solid;
    border-width: 0.1rem;
    color: var(--main-text-color);
}

.tableStatus thead tr:last-child th,
.tableDetails thead tr:last-child th,
.tableResources thead tr:last-child th {
    border-color: black;
    font-weight: bold;
    border-style: solid;
    border-width: 0.1rem;
    background-color: var(--table-header-color);
    color: var(--table-header-text-color);
    font-weight: bold;
    width: 10rem;
    text-align: center;
}

.tableInformation tr td:first-child,
.tableProgress tr td:not(#notPink):first-child {
    background-color: var(--table-header-color);
    color: var(--table-header-text-color);
    font-weight: bold;
    width: 10rem;
    text-align: left;
}

.tableInformation td,
.tableProgress td,
.tableStatus td,
.tableDetails td,
.tableResources td {
    border-color: black;
    border-style: solid;
    border-width: 0.1rem;
    color: black;
    padding: 0.2rem;
    text-align: left;
}

.tableStatus td,
.tableDetails td {
    text-align: center;
}

.tableResources td {
    align-items: center;
    text-align: center;
    padding: 0.1rem;
}

.tableDetails td:nth-child(1) {
    width: 20%;
}

.tableDetails td:nth-child(2),
.tableDetails td:nth-child(3) {
    width: 11%;
}

.tableInformation td,
.tableInformation td input,
.tableProgress td,
.tableProgress td textarea,
.tableStatus td,
.tableStatus td textarea,
.tableStatus td select,
.tableResources td,
.tableResources td textarea,
.tableDetails td,
.tableDetails input {
    font-size: small;
}

.tableInformation td input,
.tableProgress td textarea,
.tableStatus td textarea,
.tableStatus td select,
.tableResources td textarea,
.tableDetails td textarea {
    width: 12rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    padding: 0.2rem;
    transition: 0.2s;
    outline: none;
    font-size: small;
    margin: 0.3rem;
}

.tableResources td:first-child {
    max-width: 13rem;
    width: 13rem;
    min-width: 13rem;
}

.tableResources td textarea {
    min-width: 21.4rem;
    height: 2.5rem;
}

.tableStatus td select {
    width: 9.5rem;
}

.tableProgress td textarea,
.tableStatus td textarea,
.tableDetails td textarea {
    width: 98%;
    resize: none;
    margin: 0.1rem;
    height: 2rem;
}

.tableStatus td textarea,
.tableDetails td textarea {
    width: 92%;
    height: 3rem;
}

.tableDetails td textarea {
    width: 95%;
    height: 2rem;
}

@media(max-width: 1280px) {
    .report {
        width: 40rem;
    }

    .alphaLogo img{
        width: 120px;
        margin-top: 20px;
    }

    .tableInformation th,
    .tableInformation td,
    .tableInformation td input,
    .tableProgress th,
    .tableProgress td,
    .tableProgress td textarea,
    .tableStatus th,
    .tableStatus td,
    .tableStatus td textarea,
    .tableStatus td select,
    .tableResources th,
    .tableResources td,
    .tableResources td textarea,
    .tableDetails th,
    .tableDetails td,
    .tableDetails td textarea {
        font-size: 0.6rem;
    }

    .tableProgress td textarea,
    .tableStatus td textarea,
    .tableResources td textarea{
        height: 2rem;
    }

    .tableResources td textarea{
        min-width: 10.6rem;
        max-width: 10.6rem;
    }

    .tableProgress td textarea,
    .tableDetails td textarea {
        width: 95%;
    }

    .tableStatus td textarea,
    .tableStatus td select{
        width: 95%;
    }
}