.report_container{
    overflow: auto;
}

.menu {
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.datePicker {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    background-color: transparent;
    border-radius: 0.4rem;
    padding: 0.2rem;
    transition: 0.2s;
    text-align: center;
    width: 10rem;
    outline: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.datePicker_calendar{
    font-family: 'Montserrat' !important;
    font-size: 0.7rem !important;
}

.menu :global(.react-datepicker__month-text:hover),
.menu :global(.react-datepicker__month-text--today:hover) {
  background-color: #ffc3f7 !important;
}

.menu :global(.react-datepicker__month-text--keyboard-selected){
    background-color: #ff75ef !important;
}

.report {
    border-style: solid;
    border-radius: 2rem;
    padding: 1.5rem;
    width: 60rem;
    
}

.tableInformation, .tableProgress, .tableStatus, .tableDetails, .tableResources{
    border-color: black;
    border-style: solid;
    border-width: 0.1rem;
    border-collapse: collapse;
}

.tableInformation {
    width: 60%
}

.tableProgress, .tableStatus, .tableDetails, .tableResources {
    width: 100%
}

.tableInformation th, .tableProgress th, .tableResources thead tr:first-child, .tableStatus thead tr:first-child, .tableDetails thead tr:first-child {
    background-color: #ff00e3;
    border-color: black;
    font-weight: bolder;
    border-style: solid;
    border-width: 0.1rem;
    color: white;
}

.tableStatus thead tr:last-child th, .tableDetails thead tr:last-child th, .tableResources thead tr:last-child th {
    border-color: black;
    font-weight: bold;
    border-style: solid;
    border-width: 0.1rem;
    background-color: #ffccf9;
    font-weight: bold;
    width: 10rem;
    text-align: center;
}

.tableInformation tr td:first-child, .tableProgress tr td:not(#notPink):first-child {
    background-color: #ffccf9;
    font-weight: bold;
    width: 10rem;
    text-align: left;
}

.tableInformation td, .tableProgress td, .tableStatus td, .tableDetails td, .tableResources td {
    border-color: black;
    border-style: solid;
    border-width: 0.1rem;
    color: black;
    padding: 0.2rem;
    text-align: left;
}

.tableStatus td, .tableDetails td{
    text-align: center;
}

.tableResources td{
    align-items: center;
    text-align: center;
    padding: 0.1rem;
}

.tableDetails td:nth-child(1){
    width: 20%;
}

.tableDetails td:nth-child(2), .tableDetails td:nth-child(3){
    width: 11%;
}

.tableInformation td, .tableInformation td input,
.tableProgress td, .tableProgress td textarea,
.tableStatus td, .tableStatus td textarea, .tableStatus td select,
.tableResources td textarea, .tableResources td textarea, 
.tableDetails td, .tableDetails input{
    font-size: small;
}

.tableInformation td input, .tableProgress td textarea, 
.tableStatus td textarea, .tableStatus td select, .tableResources td textarea,
.tableDetails td textarea{
    width: 12rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    padding: 0.2rem;
    transition: 0.2s;
    outline: none;
    font-size: small;
    margin: 0.3rem;
}

.tableResources td:first-child{
    max-width: 13rem;
    width: 13rem;
    min-width: 13rem;
}

.tableResources td textarea{
    min-width: 21.4rem;
    height: 2.5rem;
}

.tableStatus td select{
    width: 9.5rem;
}

.tableProgress td textarea, .tableStatus td textarea, .tableDetails td textarea {
    width: 98%;
    resize: none;
    margin: 0.1rem;
    height: 2rem;
}

.tableStatus td textarea, .tableDetails td textarea{
    width: 92%;
    height: 3rem;
}

.tableDetails td textarea{
    width: 95%;
    height: 2rem;
}