.containerPai {
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    margin-bottom: 20px;
}

.container {
    width: 25rem;
    word-break: normal;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    text-align: start;
}

.container div {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.container input {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    padding: 0.2rem;
    transition: 0.2s;
    outline: none;
    width: 10rem;
    height: 1rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.container div input:hover,
.container div select:hover,
.container:first-child div button:hover {
    background-color: rgb(231, 231, 231);
}

.container div:nth-child(1) input {
    width: 83%;
}

.container div:nth-child(2) input {
    width: 76.5%;
}

.container div:nth-child(3) input {
    width: 74.9%;
}

.container div:nth-child(4) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container:first-child div button {
    background-color: transparent;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    height: 1.6rem;
    cursor: pointer;
    transition: 0.2s;
}

.botoesAcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botoesAcoes button {
    border-color: transparent;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    align-items: center;
    cursor: pointer;
    margin-top: -6px;
    margin-bottom: -10px;
    color: rgb(0, 0, 0);
    margin-right: 5px;
    margin: 0px;
    transition: 0.2s;
}

.botoesAcoes button:hover {
    transform: scale(1.1);
}

.textWrapper {
    max-width: 100%;
    word-break: break-all;
    overflow-wrap: break-word;
}

.tabelaRaci_container {
    overflow: auto;
    scrollbar-gutter: stable;
    /* mantém espaço fixo da scrollbar */
}

.tabelaRaci_wrapper {
    max-width: 75rem;
    display: inline-block;
    max-height: 45rem;

}

/*
---------    RACI       ----------
*/

.tabelaRaci tr:nth-child(1) td:nth-child(1) select {
    width: 8rem;
}

.tabelaRaci tr:not(:nth-child(1)) td:not(:nth-child(1)),
.tabelaRaci tr:nth-child(1) td:not(:nth-child(1)):not(:nth-child(2)) {
    width: 1.5rem;
}

.tabelaRaci td select {
    width: 4rem;
    font-size: 0.75rem;
}

#raciTdArea {
    text-align: center;
    width: auto;
    font-weight: bold;
    border-style: solid;
    border-width: 0.1rem;
}

#raciTdArea select {
    width: 16rem;
}

#raciTdItem {
    text-align: start;
    border-style: solid;
    border-width: 0.1rem;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}

#raciTdItem select {
    width: 16rem;
}

/*
---------    FUNCOES       ----------
*/

#funcoesTdDescricao,
#funcoesTdHabilidade {
    font-size: 0.75rem;
    text-align: justify;
    min-width: 18rem;
}

#funcoesTdDescricao textarea,
#funcoesTdHabilidade textarea {
    min-width: 17.5rem;
}

.tabelaFuncoes td textarea {
    height: 4rem;
    font-size: 0.8rem;
}

.tabelaFuncoes td select {
    height: 4rem;
    font-size: 0.8rem;
}

.tabelaFuncoes td:first-child textarea {
    width: 8rem;
}

.tabelaFuncoes td:nth-child(5) select {
    width: 12rem;
}

.tabelaFuncoes td:not(:global(.botoes_acoes)) button {
    height: 4rem;
}

/*
---------    HABILIDADE       ----------
*/

.tabelaHabilidade td textarea {
    font-size: 0.85rem;
    height: 2.5rem;
    width: 10rem;
}

.tabelaHabilidade td select {
    width: 10rem;
    height: 2.5rem;
}

#habilidadeTdNivel textarea {
    width: 5rem;
}

#habilidadeTdAcao {
    min-width: 15rem;
    font-size: 0.75rem;
    text-align: justify;
}

#habilidadeTdAcao textarea {
    min-width: 14.5rem;
}

#habilidadeThSkill {
    padding: 0.5rem;
    font-size: 0.7rem;
}

.tabelaHabilidade td:not(:global(.botoes_acoes)) button {
    height: 2.5rem;
    width: 5rem;
}

@media(max-width: 1280px) {
    .tabelaRaci_wrapper {
        max-width: 95vw;
        display: inline-block;
        max-height: 45rem;
    }

    .tabelaRaci td select,
    #funcoesTdDescricao,
    #funcoesTdHabilidade,
    .tabelaFuncoes td textarea,
    .tabelaFuncoes td select,
    #habilidadeTdAcao,
    .tabelaHabilidade td textarea {
        font-size: inherit;
    }

    /* -------- HABILIDADE ----------*/

    #habilidadeThSkill {
        font-size: 0.5rem;
    }
}