.tabelaRaci_container {
    overflow: auto;
    scrollbar-gutter: stable;
    /* mantém espaço fixo da scrollbar */
}

.tabelaRaci_wrapper {
    max-width: 75rem;
    display: inline-block;
    max-height: 45rem;
}

/* 
------------    MEMBROS    ------------ 
*/

.membrosContainerPai {
    border-color: rgb(0, 0, 0);
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.1rem;
    padding: 1rem;
}

.membrosContainer {
    width: 25rem;
    word-break: normal;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 1rem;
    border-width: 0.1rem;
    padding: 0.8rem;
    margin: 0.5rem;
    text-align: start;
}

.membrosContainer div {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.membrosContainer input {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    padding: 0.2rem;
    transition: 0.2s;
    outline: none;
    height: 1.5rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.membrosContainer input:hover,
.membrosContainer select:hover,
.membrosContainer:first-child button:hover {
    background-color: rgb(231, 231, 231);
}

.membrosInputNome {
    width: 83.5%;
}

.membrosInputSoftskills {
    width: 76.5%;
}

.membrosInputHardskills {
    width: 74.9%;
}

.membrosBotaoAddNew {
    background-color: transparent;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    height: 1.6rem;
    cursor: pointer;
    transition: 0.2s;
}

.membrosBotoesAcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.membrosBotoesAcoes button:not(.membrosBotaoAddNew) {
    border-color: transparent;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.membrosBotoesAcoes button:not(.membrosBotaoAddNew):hover {
    transform: scale(1.1);
}

.membrosConteudo {
    font-size: medium;
}

/*
---------    RACI       ----------
*/

.tabelaRaci tr:not(:nth-child(1)) td:not(:nth-child(1)),
.tabelaRaci tr:nth-child(1) td:not(:nth-child(1)):not(:nth-child(2)) {
    width: 1.5rem;
}

.tabelaRaci td:not(:global(.botoes_acoes)) button {
    width: 4.5rem;
}

.raciTdArea {
    text-align: center;
    width: auto;
    font-weight: bold;
    border-style: solid;
    border-width: 0.1rem;
}

.raciTdArea select {
    width: 16rem;
}

.raciTdItem {
    text-align: start;
    border-style: solid;
    border-width: 0.1rem;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}

.raciTdItem select {
    width: 16rem;
}

/*
---------    FUNCOES       ----------
*/

.funcoesTdDescricao,
.funcoesTdHabilidade {
    font-size: 0.75rem;
    text-align: justify;
    width: 18rem;
}

.funcoesTdDescricao textarea,
.funcoesTdHabilidade textarea {
    width: 18rem;
}

.funcoesTdFuncao textarea {
    width: 8rem;
}

.tabelaFuncoes td textarea,
.tabelaFuncoes td select {
    height: 4rem;
    font-size: 0.8rem;
}

.tabelaFuncoes td:not(:global(.botoes_acoes)) button {
    height: 4rem;
}

/*
---------    HABILIDADE       ----------
*/

.tabelaHabilidade td textarea {
    font-size: 0.85rem;
    height: 2.5rem;
    width: 100%;
}

.tabelaHabilidade td select {
    width: 100%;
    height: 2.5rem;
}

.tabelaHabilidade td.habilidadeTdNivel {
    width: 5rem;
}

.tabelaHabilidade td.habilidadeTdNivel textarea {
    width: 5rem;
}

.tabelaHabilidade td.habilidadeTdAcao {
    width: 15rem;
    font-size: 0.75rem;
    text-align: justify;
    min-width: 0;
}

.tabelaHabilidade td.habilidadeTdAcao textarea {
    width: 14.5rem;
}

.tabelaHabilidade th.habilidadeThSkill {
    padding: 0.5rem;
    font-size: 0.7rem;
}

.tabelaHabilidade td:not(:global(.botoes_acoes)) button {
    height: 2.5rem;
    width: 5rem;
}

@media(max-width: 1280px) {
    .tabelaRaci_wrapper {
        max-width: 95vw;
        display: inline-block;
        max-height: 75vh;
    }

    .tabelaRaci td select,
    .funcoesTdDescricao,
    .funcoesTdHabilidade,
    .tabelaFuncoes td textarea,
    .tabelaFuncoes td select,
    .tabelaHabilidade td.habilidadeTdAcao,
    .tabelaHabilidade td textarea {
        font-size: 0.6rem;
    }

    /* --------- MEMBROS -----------*/

    .membrosContainer {
        width: 70vw;
    }

    .membrosConteudo {
        font-size: small;
    }

    .membrosInputNome {
        width: 78.5%;
    }

    .membrosInputSoftskills {
        width: 69%;
    }

    .membrosInputHardskills {
        width: 66.5%;
    }

    .membrosBotaoAddNew {
        font-size: small;
    }

    /* -------- FUNCOES ----------*/

    .tabelaFuncoes td textarea,
    .tabelaFuncoes td select,
    .tabelaFuncoes td:not(:global(.botoes_acoes)) button {
        height: 3rem;
    }

    .funcoesTdDescricao textarea,
    .funcoesTdHabilidade textarea {
        width: 10rem;
    }

    .tabelaFuncoes td:not(:global(.botoes_acoes)) button {
        width: 100%;
    }

    /* -------- HABILIDADE ----------*/

    .tabelaHabilidade th.habilidadeThSkill {
        font-size: 0.5rem;
    }
}