.tabelaRisco table, .tabelaPlano table, .tabelaAnalise table, .tabelaImpacto table, .tabelaAudit table {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 0.3rem;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
}

.tabelaRisco_container{
    overflow: auto;
}

.tabelaRisco_wrapper{
    max-width: 75rem;
    max-height: 45rem;
    display:block;
}

.tabelaRisco td, .tabelaRisco th, 
.tabelaPlano td, .tabelaPlano th,
.tabelaAnalise td, .tabelaAnalise th,
.tabelaImpacto td, .tabelaImpacto th,
.tabelaAudit td, .tabelaAudit th{
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 0.3rem;
    font-size: small;
    word-wrap: break-word;
    max-width: 11rem;
}

.tabelaRisco td input, .tabelaRisco td select, .tabelaRisco td textarea, 
.tabelaPlano td input, .tabelaPlano td select, .tabelaPlano td textarea,
.tabelaAnalise td input, .tabelaAnalise td select,
.tabelaImpacto td input, .tabelaImpacto td select, .tabelaImpacto td textarea,
.tabelaAudit td input, .tabelaAudit td select, .tabelaAudit td textarea{
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    padding: 0.2rem;
    transition: 0.2s;
    outline: none;
    background-color: white;
}

.tabelaRisco td input, .tabelaRisco td select{
    height: 5rem;
}

.tabelaRisco td textarea{
    height: 4.5rem;
}

.tabelaPlano td textarea{
    width: 10rem;
    height: 3rem;
    font-size: small;
}

.tabelaRisco td:not(:global(.botoes_acoes)) button{
    height: 5rem;
}

.tabelaRisco td:not(:global(.botoes_acoes)) button:hover, 
.tabelaAnalise td:not(:global(.botoes_acoes)) button:hover,
.tabelaPlano td:not(:global(.botoes_acoes)) button:hover,
.tabelaImpacto td:not(:global(.botoes_acoes)) button:hover,
.tabelaAudit td:not(:global(.botoes_acoes)) button:hover,
.tabelaRisco td input:hover, .tabelaRisco td select:hover, .tabelaRisco td textarea:hover,
.tabelaPlano td input:hover, .tabelaPlano td select:hover, .tabelaPlano td textarea:hover,
.tabelaAnalise td input:hover, .tabelaAnalise td select:hover,
.tabelaImpacto td input:hover, .tabelaImpacto td select:hover, .tabelaImpacto td textarea:hover,
.tabelaAudit td input:hover, .tabelaAudit td select:hover, .tabelaAudit td textarea:hover{
    background-color: rgb(231, 231, 231);
}

.tabelaRisco td input, .tabelaRisco td select, .tabelaRisco td textarea,
.tabelaPlano td input, .tabelaPlano td select,
.tabelaImpacto td input, .tabelaImpacto td select, .tabelaImpacto td textarea,
.tabelaAudit td input, .tabelaAudit td select, .tabelaAudit td textarea{
    width: 10rem;
    font-size: small;
}

.tabelaAnalise td:first-child input, .tabelaAnalise td:first-child select{
    width: 10rem;
}

.tabelaRisco td input[type='date'] {
    width: 7rem;
}

.tabelaPlano td:nth-child(2) select{
    width: 6rem;
}

.tabelaAudit td textarea, .tabelaAudit td input{
    height: 3rem;
}

.tabelaAudit td button{
    height: 3.5rem
}

.tabelaAnalise td input {
    width: 2.5rem;
    height: 2.8rem;
}

.tabelaAnalise td:nth-child(2) input{
    width: 3.5rem;
}

.tabelaAnalise td:nth-child(7) input{
    width: 4.2rem;
}

.tabelaAnalise td:not(:global(.botoes_acoes)) button {
    height: 3.4rem;
}

.tabelaRisco th, 
.tabelaPlano th, 
.tabelaAnalise th, 
.tabelaImpacto th,
.tabelaAudit th {
    background-color: #ff8ff2;
    border-width: 0.1rem;
    font-size: 0.9rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 0.3rem;
}

.tabelaImpacto td:not(:first-child) input {
    height: 3rem;
}

.tabelaImpacto td:not(:first-child) select, .tabelaImpacto td:not(:global(.botoes_acoes)) button{
    height: 3.5rem;
}

.tabelaImpacto td:not(:first-child) textarea{
    height: 3rem;
    font-size: 0.7rem;
}

.tabelaRisco td, .tabelaImpacto td {
    width: 6rem;
    text-align: left;
}

.tabelaRisco td:last-child, .tabelaImpacto td:last-child {
    text-align: center;
} 

.tabelaRisco button, 
.tabelaPlano button, 
.tabelaAnalise button, 
.tabelaImpacto button,
.tabelaAudit button{
    background-color: transparent;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    height: 1.6rem;
    width: 4.7rem;
    cursor: pointer;
    transition: 0.2s;
}

.botao_bonito {
    background-color: #fc79ec;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    width: 12rem;
    transition: 0.1s;
    height: 1.7rem;
    margin: 0.5rem;
}

.botao_bonito:hover {
    background-color: #a84ee0;
    font-size: 0.8rem;
    font-weight: bold;
    width: 10rem;
    height: 1.7rem;
}

.plano_td_estrategia select{
    height: 3.5rem;
}