/* 
GERAL --------------------------
*/

.tabelaRisco_container {
    overflow: auto;
    scrollbar-gutter: stable;
    /* mantém espaço fixo da scrollbar */
}

.tabelaRisco_wrapper {
    max-width: 75rem;
    max-height: 45rem;
    display: block;
}

/* 
RISCO --------------------------
*/

.tabelaRisco td input,
.tabelaRisco td select,
.tabelaRisco td textarea,
.tabelaRisco td:not(:global(.botoes_acoes)) button {
    height: 5rem;
}

.tabelaRisco td:not(:global(.botoes_acoes)) button {
    width: 100%
}

.tabelaRisco td.riscoTdArea select,
.tabelaRisco td.riscoTdItem select {
    max-width: 12rem;
    min-width: 12rem;
}

.tabelaRisco td {
    width: 6rem;
    text-align: left;
}

.tabelaRisco td:last-child {
    text-align: center;
}

/* 
PLANO --------------------------
*/

.tabelaPlano td:first-child,
.tabelaPlano td:first-child select {
    width: 10rem;
}

.tabelaPlano td:nth-child(2) {
    width: 8rem;
}

.tabelaPlano td:nth-child(2) select {
    width: 10rem;
}

.tabelaPlano td:nth-child(2) select,
.tabelaPlano td:nth-child(3) textarea,
.tabelaPlano td:not(:global(.botoes_acoes)) button {
    height: 3.5rem;
}

/* 
IMPACTO --------------------------
*/

.tabelaImpacto td:last-child {
    text-align: center;
}

.tabelaImpacto td {
    width: 6rem;
    text-align: left;
}

.tabelaImpacto td:not(:first-child) select,
.tabelaImpacto td textarea,
.tabelaImpacto td input,
.tabelaImpacto td:not(:global(.botoes_acoes)) button {
    height: 3.5rem;
}

.tabelaImpacto td.impactoTdDescricao,
.tabelaImpacto td.impactoTdDescricao textarea {
    font-size: 0.7rem;
}

.tabelaImpacto td.impactoTdRisco select {
    width: 10rem;
}

.tabelaImpacto td:not(:global(.botoes_acoes)) button {
    width: 100%;
}

/* 
AUDIT --------------------------
*/



.tabelaAudit td:first-child select {
    width: 12rem;
}

.tabelaAudit td:nth-child(3),
.tabelaAudit td:nth-child(4) {
    width: 4.5rem;
}

.tabelaAudit td:nth-child(3) input,
.tabelaAudit td:nth-child(4) input {
    width: 3.7rem;
}

.tabelaAudit td input {
    width: 3rem;
}

.tabelaAudit td textarea,
.tabelaAudit td input,
.tabelaAudit td:not(:global(.botoes_acoes)) button {
    height: 3.5rem
}

.tabelaAudit th.auditThImpacto,
.tabelaAudit td.auditTdComparacao {
    font-size: 0.8rem;
}

.tabelaAudit td:not(:global(.botoes_acoes)) button {
    width: 100%;
}

/* 
ANALISE --------------------------
*/

.tabelaAnalise td:first-child input,
.tabelaAnalise td:first-child select {
    width: 10rem;
}

.tabelaAnalise td input {
    width: 2.5rem;
    height: 2.8rem;
}

.tabelaAnalise td:nth-child(2) input {
    width: 3.5rem;
}

.tabelaAnalise td:nth-child(7) input {
    width: 4.2rem;
}

.tabelaAnalise td:not(:global(.botoes_acoes)) button {
    height: 2.8rem;
    width: 100%;
}

.tabelaAnalise th:not(:first-child):not(:last-child) {
    word-wrap: break-word;
    width: 2rem;
    font-size: 0.7rem;
}

@media(max-width: 1280px) {
    .tabelaRisco_wrapper {
        max-width: 95vw;
        max-height: 75vh;
        display: block;
    }

    /* ---------- RISCO --------- */

    .tabelaRisco td input,
    .tabelaRisco td select,
    .tabelaRisco td textarea,
    .tabelaRisco td:not(:global(.botoes_acoes)) button {
        height: 3rem;
    }

    .tabelaRisco td.riscoTdArea select,
    .tabelaRisco td.riscoTdItem select {
        max-width: 8rem;
        min-width: 8rem;
    }

    /* -------- ANALISE -------- */
    .tabelaAnalise th:not(:first-child):not(:last-child) {
        font-size: 0.6rem;
    }

    /* --------- IMPACTO ------- */
    .tabelaImpacto td:not(:first-child) select,
    .tabelaImpacto td textarea,
    .tabelaImpacto td input,
    .tabelaImpacto td:not(:global(.botoes_acoes)) button {
        height: 3rem;
    }

    .tabelaImpacto td.impactoTdDescricao,
    .tabelaImpacto td.impactoTdDescricao textarea {
        font-size: 0.6rem;
    }

    .tabelaImpacto td.impactoTdRisco select {
        width: 8rem;
    }

    /* ---------PLANO --------- */
    .tabelaPlano td:nth-child(2) select,
    .tabelaPlano td:nth-child(3) textarea,
    .tabelaPlano td:not(:global(.botoes_acoes)) button {
        height: 3rem;
    }

    /* ---------AUDIT--------- */
    .tabelaAudit th.auditThImpacto,
    .tabelaAudit td.auditTdComparacao {
        font-size: 0.6rem;
    }

    .tabelaAudit td textarea,
    .tabelaAudit td input,
    .tabelaAudit td:not(:global(.botoes_acoes)) button {
        height: 3rem
    }
}