.tabela_financas table {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    padding: 0.3rem;
    width: 100%;
    border-collapse: collapse;
}

.tabela_financas_container{
    overflow: auto;
    width: 100%
}

.tabela_financas_wrapper{
    min-width: 800px;
    max-width: 1200px;
    display: inline-block;
}

.tabela_financas td {
    border-width: 0.1rem;
    border-style: solid;
    width: 5rem;
    border-color: rgb(167, 167, 167);
    padding: 0.3rem;
    font-size: small;
}

.tabela_financas td input, .tabela_financas td select {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    padding: 0.2rem;
    transition: 0.2s;
    outline: none;
    width: 6.2rem;
    font-size: small;
}

.tabela_financas td input:hover, .tabela_financas td select:hover, .tabela_financas button:hover {
    background-color: rgb(231, 231, 231);
}

.tabela_financas td:nth-child(2), .tabela_financas td:nth-child(2) input {
    width: 10rem !important;
}

.tabela_financas td:nth-child(4), 
.tabela_financas td:nth-child(4) input,
.tabela_financas td:nth-child(5), 
.tabela_financas td:nth-child(5) select {
    width: 7.2rem;
}

.tabela_financas th {
    background-color: #ff8ff2;
    border-width: 0.1rem;
    border-style: solid;
    font-size: 0.9rem;
    border-color: rgb(167, 167, 167);
    padding: 0.3rem;
}

.tabela_financas button{
    background-color: transparent;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    height: 1.6rem;
    cursor: pointer;
    transition: 0.2s;
}

