.main_container{
    overflow-x: auto;
}

.main_wrapper {
    display: flex;
    width: 95vw;
}

.wbs_container {
    margin: 0.5rem;
    flex: 0 0 15rem;
}

.block {
    border-radius: 1rem;
    border-width: 0.1rem;
    border-color: black;
    border-style: solid;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    max-width: 15rem;
}

.new_inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem;
}

.new_inputs_color {
    display: flex;
    align-items: center;
}

.new_inputs_color label{
    font-size: small;
    margin-right: 0.5rem;
}

.new_inputs_color input{
    height: 1.5rem;
}

.new_inputs input{
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    padding: 0.2rem;
    transition: 0.2s;
    outline: none;
    font-size: small;
    background-color: white;
    width: 100%;
}

.new_inputs input:hover {
    background-color: rgb(231, 231, 231);
}

.item_outer_block {
    position: relative;
    min-width: 5rem;
    max-width: 15rem;
    padding-top: 0.8rem;
}

.action_buttons {
    display: flex;
    flex-direction: column;
    border-left: 0.1rem solid black;
    padding: 0.5rem;
    align-self: stretch;
    justify-content: center;
}

.action_buttons button {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    font-size: 0.8rem;
    transition: 0.1s;
}

.action_buttons button:disabled, .action_buttons button[disabled] {
    color: grey;
    filter: grayscale(100%);
}

.action_buttons button:hover {
    transform: scale(1.1);
}

.area_label {
    font-weight: bold;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.item_label {
    padding: 0.5rem;
    font-size: small;
}

.item_connective_line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 0.8rem;
  background-color: black;
}

/*----------------DICIONARIO--------------- */

.tabelaDicionario_container {
  overflow: auto;
}

.tabelaDicionario_wrapper {
  max-width: 75rem;
  max-height: 45rem;
  display: block;
}

.tabelaDicionario td {
  text-align: left;
}

.tabelaDicionario td textarea {
  height: 6rem;
}

.tabelaDicionario td:not(:global(.botoes_acoes)):last-child button {
  height: 6rem;
}

.td_area select,
.td_item select {
  min-width: 10rem;
  height: 6rem;
  max-width: 10rem;
}

.td_descricao,
.td_proposito,
.td_criterio {
  min-width: 15rem;
  max-width: 15rem;
}

.td_descricao textarea,
.td_proposito textarea,
.td_criterio textarea {
  width: 100%;
}

.td_premissas,
.td_restricoes,
.td_recursos,
.td_verificacao,
.td_timing,
.td_responsavel,
.td_responsavel_aprovacao {
  max-width: 10rem;
  min-width: 10rem;
}

.td_premissas textarea,
.td_restricoes textarea,
.td_recursos textarea,
.td_verificacao textarea,
.td_timing textarea,
.td_responsavel textarea,
.td_responsavel_aprovacao textarea {
  width: 100%;
}

@media (max-width: 1280px){
  .tabelaDicionario_wrapper {
    max-width: 48rem;
    max-height: 55rem;
    display: block;
  }

  .td_area select,
  .td_item select {
    min-width: 8rem;
    height: 4rem;
    max-width: 8rem;
  }

  .tabelaDicionario td textarea {
    height: 4rem;
  }

  .tabelaDicionario td:not(:global(.botoes_acoes)) button {
    height: 4rem !important;
    width: 100%;
  }

  .td_descricao,
  .td_proposito,
  .td_criterio {
    min-width: 10rem;
    max-width: 10rem;
  }

  .td_descricao textarea,
  .td_proposito textarea,
  .td_criterio textarea {
    width: 100%;
  }

  .td_premissas,
  .td_restricoes,
  .td_recursos,
  .td_verificacao,
  .td_timing,
  .td_responsavel,
  .td_responsavel_aprovacao {
    max-width: 7rem;
    min-width: 7rem;
  }

  .td_premissas textarea,
  .td_restricoes textarea,
  .td_recursos textarea,
  .td_verificacao textarea,
  .td_timing textarea,
  .td_responsavel textarea,
  .td_responsavel_aprovacao textarea {
    width: 100%;
  }
}

@media (orientation: landscape) and (max-width: 1280px){
    .tabelaDicionario_wrapper {
      max-width: 95vw;
      max-height: 76vh;
      display: block;
    }
}

@media (orientation: landscape) and (max-width: 1024px){
  .tabelaDicionario_wrapper {
    max-width:  95vw;
    max-height: 63vh;
    display: block;
  }

  .td_area select,
  .td_item select {
    min-width: 8rem;
    height: 3.5rem;
    max-width: 8rem;
  }

  .tabelaDicionario td textarea {
    height: 3.5rem;
  }

  .tabelaDicionario td:not(:global(.botoes_acoes)) button {
    height: 3.5rem !important;
  }

  .td_descricao,
  .td_proposito,
  .td_criterio {
    min-width: 10rem;
    max-width: 10rem;
  }

  .td_descricao textarea,
  .td_proposito textarea,
  .td_criterio textarea {
    width: 100%;
  }

  .td_premissas,
  .td_restricoes,
  .td_recursos,
  .td_verificacao,
  .td_timing,
  .td_responsavel,
  .td_responsavel_aprovacao {
    max-width: 7rem;
    min-width: 7rem;
  }

  .td_premissas textarea,
  .td_restricoes textarea,
  .td_recursos textarea,
  .td_verificacao textarea,
  .td_timing textarea,
  .td_responsavel textarea,
  .td_responsavel_aprovacao textarea {
    width: 100%;
  }
}


@media (max-width: 768px) {
  .tabelaDicionario_wrapper {
    max-width: 90vw;
    height: 80vh;
    display: block;
  }

  .td_area select,
  .td_item select {
    min-width: 8rem;
    height: 4.5rem;
    max-width: 8rem;
  }

  .tabelaDicionario td textarea {
    height: 4.5rem;
  }

  .tabelaDicionario td:not(:global(.botoes_acoes)) button {
    height: 4.5rem !important;
  }

  .td_descricao,
  .td_proposito,
  .td_criterio {
    min-width: 10rem;
    max-width: 10rem;
  }

  .td_descricao textarea,
  .td_proposito textarea,
  .td_criterio textarea {
    width: 100%;
  }

  .td_premissas,
  .td_restricoes,
  .td_recursos,
  .td_verificacao,
  .td_timing,
  .td_responsavel,
  .td_responsavel_aprovacao {
    max-width: 7rem;
    min-width: 7rem;
  }

  .td_premissas textarea,
  .td_restricoes textarea,
  .td_recursos textarea,
  .td_verificacao textarea,
  .td_timing textarea,
  .td_responsavel textarea,
  .td_responsavel_aprovacao textarea {
    width: 100%;
  }
}

@media (orientation: landscape) and (max-width: 768px){
  .tabelaDicionario_wrapper {
    max-width: 95vw;
    height: 90vh;
    display: block;
  }
}