.wbsContainer {
    display: flex;
    flex-wrap: wrap; /* Permite que as wbs-area sejam dispostas em várias linhas */
    gap: 20px;
    justify-content: center; /* Para centralizar as áreas na tela */
  }
  
  .wbsArea {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px; /* Espaçamento entre as áreas */
    display: flex;
    flex-direction: column; /* Para alinhar a área e a lista verticalmente */
    align-items: center; /* Para centralizar os itens na área */
  }
  
  .wbsItem {
    border: 1px solid #c4c4c4; /* Borda para cada item */
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
    width: 200px;
  }
  
  .wbsArea h3 {
    margin-bottom: 10px;
  }
  
  .wbsArea ul {
    list-style-type: none;
    padding: 0;
  }
  
  .wbsArea li {
    cursor: pointer;
    margin-bottom: 5px;
  }