.botao-padrao {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    color: black;
    font-size: 0.9rem;
    cursor: pointer;
    width: 7rem;
    transition: 0.1s;
    height: 1.7rem;
    margin: 0.5rem;
}

.botao-padrao:hover {
    background-color: var(--secondary-color);
    font-size: 0.8rem;
    font-weight: bold;
    width: 7rem;
    height: 1.7rem;
    color: var(--secondary-text-color)
}

.botao-bonito {
    background-color: var(--main-color);
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    width: 7rem;
    transition: 0.1s;
    height: 1.7rem;
    margin: 0.5rem;
}

.margem{
    margin-top: -10px; 
    margin-bottom: 30px
}

.botao-bonito:hover {
    background-color: var(--secondary-color);
    font-size: 0.8rem;
    font-weight: bold;
    width: 7rem;
    height: 1.7rem;
    color: var(--secondary-text-color)
}

.botoes_acoes{
    min-width: 5rem;
    text-align: center;
    align-items: center;
}

.botoes_acoes button {
    border-width: 0rem !important;
    cursor: pointer;
    width: 2rem !important;
}

.botoes_acoes button:hover {
    transform: scale(1.1);
}

.botao_logout {
    background-color: transparent;
    border: none;
    font-size: medium;
    color: var(--main-text-color);
    transition: 0.2s;
    cursor: pointer;
    font-weight: bolder;
}

.botao_logout:hover{
    color: var(--main-text-hover-color);
  text-decoration: none;
}

h2.smallTitle button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

@media (max-width: 768px){
    .botao_logout{
        margin-left: 0rem;
    }
}