body {
    font-family: 'Montserrat';
    background-color: #1B1B1B;
    color: white;
    padding: 0;
    margin: 0;
}

.botoes-acoes button {
    border-color: transparent;
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -6px;
    margin-bottom: -10px;
    color: white;
    margin-right: 5px;

}

button:not(.botoes-acoes button) {
    color: white;
    font-family: 'Montserrat';
    border-color: white;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-image: linear-gradient(to left, #830074 0%, #500380 100%);
}

label {
    margin-right: 0px; 
    line-height: normal;
}

input {
    color: white;
    font-family: 'Montserrat';
    border-radius: 10px;
    border-color: white;
    background-color: black;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    text-align: start; 
    display: flex;
    gap: 0px;
}

select {
    color: white;
    border-color: white;
    background-color: black;
    font-family: 'Montserrat';
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 213px;
    text-align: start; 
    display: flex;
    gap: 0px; 
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid white;
}

td {
    border: 1px dotted white;
    padding: 8px; 
}

span.custom-span {
    display: inline-block;
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #9006e3;
    background-color: black;
    font-size: 18px;
    color: white; /* Define a cor do texto como branca */
  }

span.custom-span:hover {
    background-color: #1f0231;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../public/fonts/Montserrat.ttf') format('truetype');
}
