.button {
    font-family: 'Montserrat';
}

.input {
    display: block;
    font-family: 'Montserrat';
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    text-align: start; 
    display: inline-block;
}

.alinhamentoVertical input {
    display: flex;
   
    gap: 0px; 
}

.dark-mode{
    background-color: #1B1B1B;
    color: white;
    font-family: 'Montserrat';
}

.dark-mode table{
        border-collapse: collapse;
        width: 100%;
        border: 1px solid white;
}

.dark-mode td {
    border: 1px solid white;
    padding: 8px; 
}


.dark-mode input {
    background-color: #000000;
    color: white;
    border: 1px solid white;
}

.light-mode{
    background-color: #FFFFFF;
    color: black;
    font-family: 'Montserrat';
}

.light-mode table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

.light-mode td {
    border: 1px solid black;
    padding: 8px; 
}

.light-mode input {
    background-color: white;
    color: black;
    border: 1px solid black;
}
    

@font-face {
    font-family: 'Montserrat';
    src: url('../public/fonts/Montserrat.ttf') format('truetype');
}