body {
    font-family: 'Montserrat';
    background-color: white;
    color: black;
    padding: 0;
    margin: 0;
}

.botoes-acoes button {
    border-color: transparent;
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -6px;
    margin-bottom: -10px;
    color: rgb(0, 0, 0);
    margin-right: 5px;

}

.botao-cadastro {
    color: white;
    font-size: 15px;
    font-family: 'Montserrat';
    border-color: white;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-image: linear-gradient(to left, #830074 0%, #500380 100%);
}

label {
    margin-right: 0px; 
    line-height: normal;
}

input {
    color: black;
    font-family: 'Montserrat';
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(228, 228, 228);
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 800px;
    font-size: 15px;
    text-align: start; 
    display: flex;
    gap: 0px;
}

select {
    color: black;
    border-color: black;
    background-color: rgb(228, 228, 228);
    font-family: 'Montserrat';
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 15px;
    width: 813px;
    text-align: start; 
    display: flex;
    gap: 0px; 
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

table {
    border-collapse: collapse;
    width: 95%;
    border: 1px solid rgb(0, 0, 0);
}

td {
    border: 1px dotted rgb(0, 0, 0);
    padding: 3px; 
}

th {
    border: 1px dotted rgb(0, 0, 0);
    padding: 3px; 
}

span.custom-span {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 7px;
    margin-right: 7px;
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #9006e3;
    background-color: #9006e3;
    font-size: 18px;
    color: white; /* Define a cor do texto como branca */
    transition: background-color 0.2s ease;
  }

span.custom-span:hover {
    background-color: #550586;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../public/fonts/Montserrat.ttf') format('truetype');
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Estilo para os elementos internos dentro da div */
.centered-container input,
.centered-container select{
    margin-bottom: 10px; /* Espaçamento entre os elementos */
}

.centered-container label:not(.container) {
    font-size: 12px;
    align-self: flex-start;
    margin-bottom: 5px;
}

.h3-resumo h3{
    margin: 30px
}