    /* Mantenha as regras existentes para .menuGroup e .menuGroup span */
  .containerMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  
  .menuGroup {
    display: flex;
    margin-bottom: 20px;
  }
  
  .menuGroup img {
    margin: 10px;
  }
  
  .menuGroup span {
    margin: 5px;
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ff00e3;
    border-radius: 15px;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    color: #ff00e3;
    background: white;
    text-decoration: none;
  }
  
  .menuGroup span:hover {
    border: 2px solid #9006e3;
    color: #9006e3;
    text-decoration: none;
  }
  
  .menuGroup span a {
    text-decoration: none;
    color: inherit;
  }
  
  .menuGroup span a:hover {
    color: #9006e3;
  }

  .menuGroup span:hover img {
    filter: hue-rotate(325deg); 
  }

  .menuText {
    position: relative;
    text-align: center;
  }

  .gradient-text {
    background: linear-gradient(45deg, #FF00e3, #9006e3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }
  