table {
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    padding: 0.3rem;
    border-collapse: collapse;
}

td{
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    padding: 0.3rem;
}

td input, td select{
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 0.4rem;
    padding: 0.2rem;
}

td input {
    width: 10rem;
}

table td:nth-child(2) {
    width: 200px; /* Ajuste o valor conforme necessário */
}